/.htaccess
/data/localhost(-)core.dat
/sqloquicom/system/config/local.php
/sqloquicom/application/config/pref.php
/sqloquicom/assets/css/pref.css
/data/localhost(-)festival.dat
/data/localhost(-)sqloquicom.dat